<a href="https://colab.research.google.com/github/neilkazimierzsheridan/data_science_course/blob/main/ds_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PANDAS! reading and writing between many formats
# grab based on indexing, logic, subsetting, handle missing data,
# adjust and restructure
# we are only limited by our RAM when working with large datasets

#1. Series Object
# This is a data structure that holds array of information along with
# a named index. The named index sets it apart from numpy array
# so we could have a nice string label index

# 1d ndarray with axis labels

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#help(pd.Series)

In [3]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [1776,1867,1821]

myser = pd.Series(data=mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [4]:
type(myser)

pandas.core.series.Series

In [5]:
#Now lets pass the strings as the index
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [6]:
#Grab data from it
myser[0]

1776

In [7]:
#With the string index 
myser['Mexico']

1821

In [8]:
#Create a series from a dictionary
ages = {'Sam':5, 'Frank':10, 'Spike':7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [9]:
#imaginary sales data dictionaries
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA':250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [11]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [12]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [13]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
sales_q1['China']

450

In [15]:
sales_q1.keys() #see the keys

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [16]:
#operations between two series just like numpy array
sales_q1 * 2 #report back via broadcasted operation

Japan    160
China    900
India    400
USA      500
dtype: int64

In [17]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [18]:
sales_q1 + sales_q2 # but there are different countries in each!
#tells us brazil and japan not present in bother series

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [19]:
#that's ok I want them filled in with some value
sales_q1.add(sales_q2, fill_value=0)
# so I can fill them with 0 for the quarter they are not present in! Very NICE!

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [20]:
first_half = sales_q1.add(sales_q2, fill_value=0)
first_half.dtype #see that Pandas changed it to floating point

dtype('float64')