<a href="https://colab.research.google.com/github/neilkazimierzsheridan/data_science_course/blob/main/ds_Pandas_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
url = "https://en.wikipedia.org/wiki/World_population"

In [3]:
tables = pd.read_html(url) # get all the tables from that url

In [4]:
len(tables) #how many tables in the wiki article?

27

In [5]:
tables[6]

   Rank         Country  ...  Density(pop/km2)  Population trend
0     1           India  ...               419           Growing
1     2        Pakistan  ...               279           Growing
2     3      Bangladesh  ...              1187   Rapidly growing
3     4           Japan  ...               333     Declining[99]
4     5     Philippines  ...               368           Growing
5     6         Vietnam  ...               290           Growing
6     7  United Kingdom  ...               273            Steady
7     8     South Korea  ...               520            Steady
8     9          Taiwan  ...               652            Steady
9    10       Sri Lanka  ...               332           Growing

[10 rows x 6 columns]

In [6]:
pop = tables[6]

In [7]:
our_db = create_engine('sqlite:///:memory:')

In [8]:
pop.to_sql(name='populations',con=our_db)

In [9]:
# Read in an entire table
pd.read_sql(sql='populations',con=our_db)

   index  Rank         Country  ...  Area(km2)  Density(pop/km2)  Population trend
0      0     1           India  ...    3287240               419           Growing
1      1     2        Pakistan  ...     803940               279           Growing
2      2     3      Bangladesh  ...     143998              1187   Rapidly growing
3      3     4           Japan  ...     377873               333     Declining[99]
4      4     5     Philippines  ...     300000               368           Growing
5      5     6         Vietnam  ...     331689               290           Growing
6      6     7  United Kingdom  ...     243610               273            Steady
7      7     8     South Korea  ...      99538               520            Steady
8      8     9          Taiwan  ...      36193               652            Steady
9      9    10       Sri Lanka  ...      65610               332           Growing

[10 rows x 7 columns]

In [11]:
# Read in with a SQL Query
results1 = pd.read_sql_query(sql="SELECT Country FROM populations",con=our_db)

In [12]:
results1

          Country
0           India
1        Pakistan
2      Bangladesh
3           Japan
4     Philippines
5         Vietnam
6  United Kingdom
7     South Korea
8          Taiwan
9       Sri Lanka